<form th:object="${visit}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
        <input
            th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}" />
        <input
            th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
    </div>
    
    <!-- Não é necessário incluir ownerId e petId como campos ocultos,
         pois eles já estão na URL como path variables -->
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Add Visit</button>
        </div>
    </div>
</form>